<br>
<%# if user_signed_in? %>
    <!--<p></p>Welcome <%#= link_to current_user.email, edit_user_registration_path %> | <%#= link_to 'Log out', destroy_user_session_path, method: :delete%></p>-->
<%#else%>
    <!--<p><%#= link_to 'Sign up', new_user_registration_path %> | <%#= link_to 'Login', new_user_session_path %></p>-->
<%# end %>

<% if user_signed_in? %>
<h1>Welcome to Future Texas Alert</h1>
<h1>Scroll down this page to see top nav bar fixed on top</h1>
<h1>click on your email address on top right</h1>
    <h1>and click on your profile</h1>
    <h1>to delete your account or change password</h1>
    <h1>all alerts will be shown here on table</h1>
    <h1>if you are admin, display console on top right otherwise hide</h1>
    <h1>Try to make this browser smaller</h1>
    <h1>and it will automatically resize to fit in mobile phone</h1>
    <h1>try to make your browser size similar to iphone screen size</h1>
    <h1>and top menu will change to look like iphone app</h1>
    <h1>All thanks to Framework called 'BootStrap' made by Twitter</h1>
    <h1>Open Source Rock!!!</h1>
    <h1>This is Test!!! Test</h1>
    <h1>Anybody can be User Interface designer, Yey!!! </h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1><h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>
    <h1>Welcome to Future Texas Alert</h1>


<% end %>