body{
    padding: 15px;
}

.alert{
    padding: 0px;
}

.alert-danger{
 width: 300px;
}

.dropdown {
    width: 160px;
}

.navbar-brand{
    font-size: 25px;
}

.version_number {
    background-image: url("/assets/barcode_fancy.gif");
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 12px;
    padding-top: 32px;
    text-align: center;
    font-size: 10px;
}