body{
    height: 100%;
}

.alert{
    padding: 0px;
}

.alert-danger{
 width: 300px;
}

.dropdown {
    width: 160px;
}

.navbar-brand{
    font-size: 25px;
}

.version_number {
    background-image: url("/assets/barcode_fancy.gif");
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    padding-top: 32px;
    text-align: center;
    font-size: 10px;
}

#footer {
    /* height: 100px; */
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #e7e7e7;
}


/* Wrapper for page content to push down footer
http://www.bootply.com/render/75231
http://bootswatch.com/lumen/
*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
     Negative indent footer by its height
    margin: 0 auto -60px;
     Pad bottom by footer height
    padding: 0 0 0px;
}

p {
    margin: 0 0 0px;
}


